$mainWhite: #ffffea;
$mainTeal: #00cecb;
$mainYellow: #ffed66;

body {
  background: $mainWhite;
  font-family: "MuseoModerno", cursive;
}

.navbar {
  display: flex;
  align-items: center;
  //   border: 1px red solid;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  //   border: 1px blue solid;
  width: 100vw;
}

.nav-link {
  color: $mainTeal;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2.4rem;
  transition: all 0.3s linear;
  &:hover {
    color: $mainYellow;
  }
}
.active {
  color: $mainYellow;
}

.home-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  //   border: blue 1px solid;
}

.logo {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 60vh;
  // border: springgreen 1px solid;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  //   border: 1px blue solid;
  background: $mainTeal;
  color: $mainWhite;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.logoB {
  display: flex;
  align-items: center;
  width: 15vw;
  height: 30vh;

}
