//rem is size relative to html root
//em is relative size to direct or nearst neightbour

$mainWhite: #ffffea;
$mainTeal: #00cecb;
$mainYellow: #ffed66;
$mainGrey: #545454;

* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: $mainWhite;
  font-family: "MuseoModerno", cursive;
  height: 100%;
  //   width: 100%;
  font-size: 100%;

  //   display: flex; //might not be needed
  //   flex-direction: column; //might not be needed
}
//Wraps everthing above footer and below navbar
.content {
  flex: 1 0 auto;
  //   border:  1px solid;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  height: 5em;
  background: $mainWhite;
  //   border: 1px red solid;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  text-decoration: underline;
  //   border: 1px blue solid;
}

.nav-link {
  color: $mainTeal;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s linear;
  &:hover {
    color: $mainYellow;
  }
}
.active {
  color: $mainYellow;
}

.home-container {
  display: flex;
  justify-content: center;
  height: 59em;
  background: $mainTeal;
  //   border: blue 1px solid;

  .logo {
    display: flex;
    align-items: center;
    padding-top: 15em;
    width: 40em;
    height: 40em;
    // border: springgreen 1px solid;
  }
}

.parallax-container {
  display: flex;
  height: 59em;
  margin-top: 5em;
  margin-bottom: 5em;
  // border: red 1px solid;
}

.aboutMe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59em;
  width: 100vw;
  perspective: 250px;
  // border: brown 1px solid;
}

.card {
  display: flex;
  position: absolute;
  width: 20em;
  height: 10em;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  // border: brown 1px solid;
}
.card:hover {
  transform: rotateX(180deg);
}
.card-front {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: $mainTeal;
  color: $mainYellow;
  border-radius: 25px;
  box-shadow: 1px 2px 10px $mainGrey;
  font-weight: bold;

  .text-front-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    font-size: 1.5em;
    //   border: red 1px solid;
  }
}

.card-back {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  background: $mainWhite;
  color: $mainTeal;
  border-radius: 25px;
  transform: rotateX(180deg);
  box-shadow: 1px 2px 10px $mainGrey;

  .text-back-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    // border: red 1px solid;
  }
}
///////////////////////////
//////Projects Section/////
///////////////////////////

.protfolio-parallax {
  display: flex;
  justify-content: center;
  height: 90em;
  //   border: black 1px solid;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12em;
  height: 90em;
  //   border: red 1px solid;
}

.projects-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60em;
  height: 12em;
  background-color: $mainWhite;
  margin: 6em;
  //   border: green 2px solid;
}

.item-left {
  width: 10em;
  height: 10em;
  color: $mainGrey;
  //border: black 1px solid;

  .project-title {
    font-weight: bold;
    font-size: 1.2em;
    //border: red 1px solid;
  }
  .project-descrption {
    font-size: 0.85em;
    //border: blue 1px solid;
  }
}

.item-centre {
  width: 10em;
  height: 10em;
  border: orange 1px solid;
}

.item-right {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  text-align: center;
  box-shadow: 4px 8px 40px $mainGrey;
  //border: purple 1px solid;
}

.project-img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  text-align: center;
  border: $mainWhite 2px solid;
}
////////////////
/////Footer/////
////////////////
.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  padding: 3rem;
  background: $mainTeal;
  color: $mainWhite;
  flex-shrink: 0;
  height: 15em;
    // border: 1px blue solid;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10em;
  width: 80em;
//   border: red 1px solid;

}

.logoB {
  display: flex;
  width: 14em;
  height: 14em;
  //   border: 1px blue solid;
}
/////////////////////
/////Media query/////
/////////////////////

@media screen and (max-width: 768px) {
  .nav-bar {
    height: 1em;
  }
  .nav-link {
    font-size: 1em;
  }

  .home-container {
    height: 43em;
    .logo {
      height: 15em;
      width: 15em;
    }
  }

  .parallax-container {
    margin-top: 3em;
    height: 43em;
    margin-bottom: 3em;
  }
  .card {
    width: 16em;
    height: 8em;
    margin-bottom: 15em;
  }
  .card-front {
    .text-front-card {
      font-size: 1.2em;
    }
  }
  .card-back {
    .text-back-card {
      font-size: 1em;
    }
  }
  //////////////////////
  .protfolio-parallax {
    height: 100%;
  }

  .portfolio-container {
    height: 100%;
    margin-top: 10em;
  }

  .projects-wrapper {
    flex-direction: column;
    width: 12em;
    height: 30em;
  }

  .item-left {
    width: 8em;
    height: 8em;
    color: $mainGrey;
    border: black 1px solid;

    .project-title {
      font-size: 1em;
      //border: red 1px solid;
    }
    .project-descrption {
      font-size: 0.72em;
      //border: blue 1px solid;
    }
  }

  .item-centre {
    width: 8em;
    height: 8em;
    border: orange 1px solid;
  }

  .item-right {
    width: 8em;
    height: 8em;
    //border: purple 1px solid;
  }

  .project-img {
    width: 8em;
    height: 8em;
  }

  .footer-container{
      height: 7em;
        margin-top: 3em;

  } 

  .logoB {
    width: 10em;
    height: 10em;
  }
}

// @media screen and (min-width:992px){
//     .tourlist{
//         width: 85vw;
//         grid-template-columns: 1fr 1fr 1fr;
//     }
// }

// @media screen and (min-width:1140px){
//     .tourlist{
//         grid-template-columns: repeat(4 ,1fr);
//     }
// }
