//rem is size relative to html root
//em is relative size to direct or nearst neightbour
//TODO break down this into its component parts keep media queries in here 

$mainWhite: #ffffea;
$mainTeal: #00cecb;
$mainYellow: #ffed66;
$mainGrey: #545454;

* {
  margin: 0;
  padding: 0;
}
html,
body {
  background: $mainWhite;
  font-family: "MuseoModerno", cursive;
  height: 100%;
  font-size: 100%;

  // display: flex; //might not be needed
  // flex-direction: column; //might not be needed
}
//Wraps everthing above footer and below navbar
.content {
  flex: 1 0 auto;
  // border:  red 1px solid;
}

